/MerchantGuideToGalaxy/bin
/MerchantGuideToGalaxy/obj
/Tests/bin
/Tests/obj
/ConsoleApplication/bin
/ConsoleApplication/obj
/ConsoleApplicationTests/bin
/ConsoleApplicationTests/obj
/Engine/bin
/Engine/obj
/EngineTests/bin
/EngineTests/obj
